[submodule "multirotor-controller"]
	path = multirotor-controller
	url = git@github.com:XGC-Team/xgc2-multirotor-controller.git
	branch = noetic
[submodule "ugv-controller"]
	path = ugv-controller
	url = git@github.com:XGC-Team/xgc2-ugv-controller.git
	branch = noetic
